<tui-root
  *ngIf="widgetDrawer$ | async as drawer"
  [tuiMode]="(theme$ | async) === 'Dark' ? 'onDark' : null"
  [style.--widgets-width.px]="drawer.open ? drawer.width : 0"
>
  <ion-app appEnter>
    <div class="splash" *ngIf="showSplash">
      <div class="splash__overlay"></div>
      
      <!-- Alien film-style terminal intro -->
      <div
        class="alien-intro"
        [class.alien-intro--complete]="alienIntroComplete"
        [class.alien-intro--fade-out]="fadeAlienIntro"
      >
        <div class="alien-intro__lines">
          <div class="alien-intro__line" [class.visible]="showLine1">
            <span class="prompt">></span>
            <span class="text" [class.typing]="typingLine1">In the future there are 3 types of humans:</span>
          </div>
          <div class="alien-intro__line" [class.visible]="showLine2">
            <span class="prompt">></span>
            <span class="text" [class.typing]="typingLine2">Corporate Employees</span>
          </div>
          <div class="alien-intro__line" [class.visible]="showLine3">
            <span class="prompt">></span>
            <span class="text" [class.typing]="typingLine3">Government Employees</span>
          </div>
          <div class="alien-intro__line alien-intro__line--final" [class.visible]="showLine4">
            <span class="prompt">></span>
            <span class="text" [class.typing]="typingLine4">And Noderunners...</span>
          </div>
        </div>
      </div>

      <!-- Welcome message -->
      <div
        class="welcome-message"
        *ngIf="showWelcome"
        [class.welcome-message--fade-out]="fadeWelcome"
      >
        <span class="text">Welcome Noderunner</span>
      </div>

      <img class="splash__logo" [class.splash__logo--delayed]="!alienIntroComplete" src="assets/img/logo-large.svg" alt="Logo" />
    </div>
    <div class="app-content">
      <ion-split-pane
        contentId="main-content"
        [disabled]="!(authService.isVerified$ | async)"
        (ionSplitPaneVisible)="splitPaneVisible($event)"
      >
        <ion-menu
          contentId="main-content"
          type="overlay"
          side="start"
          class="left-menu"
        >
          <ion-content color="light" scrollY="false" class="menu glass-dark glass-dark--sidebar">
            <app-menu *ngIf="authService.isVerified$ | async"></app-menu>
          </ion-content>
        </ion-menu>

        <ion-menu
          contentId="main-content"
          type="overlay"
          side="end"
          class="right-menu container"
          [class.container_offline]="offline$ | async"
          [class.right-menu_hidden]="!drawer.open"
          [style.--side-width.px]="drawer.width"
        >
          <div class="divider">
            <button
              class="widgets-button"
              [class.widgets-button_collapse]="drawer.width === 600"
              (click)="onResize(drawer)"
            ></button>
          </div>
          <widgets *ngIf="drawer.open" [wide]="drawer.width === 600"></widgets>
        </ion-menu>

        <ion-router-outlet
          id="main-content"
          class="container"
          [class.container_offline]="offline$ | async"
        >
        </ion-router-outlet>
      </ion-split-pane>

      <section appPreloader></section>
    </div>
    
    <ion-footer>
      <footer appFooter></footer>
    </ion-footer>
    <ion-footer
      *ngIf="(authService.isVerified$ | async) && !(sidebarOpen$ | async)"
    >
      <connection-bar></connection-bar>
    </ion-footer>
    <toast-container></toast-container>
  </ion-app>
</tui-root>
<ng-container
  *ngIf="authService.isVerified$ | async"
  [ngSwitch]="theme$ | async"
>
  <ng-container *ngSwitchCase="'Dark'">
    <tui-theme-night></tui-theme-night>
    <dark-theme></dark-theme>
  </ng-container>
  <light-theme *ngSwitchCase="'Light'"></light-theme>
</ng-container>
