<label tuiInputFiles>
  <input
    tuiInputFiles
    [invalid]="invalid"
    [accept]="spec.extensions.join(',')"
    [(ngModel)]="value"
    (blur)="onFocus(false)"
  />
  <ng-template let-drop>
    <div class="template" [class.template_hidden]="drop">
      <div class="label">
        {{ spec.name }}
        @if (spec.required) {
          <span>*</span>
        }
        @if (spec.description) {
          <tui-icon [tuiTooltip]="spec.description" />
        }
      </div>
      @if (value) {
        <tui-chip>
          {{ value.name }}
          <button
            tuiIconButton
            type="button"
            appearance="icon"
            size="xs"
            iconStart="@tui.x"
            (click.stop)="value = null"
          >
            {{ 'Delete' | i18n }}
          </button>
        </tui-chip>
      } @else {
        <small>{{ 'Click or drop file here' | i18n }}</small>
      }
    </div>
    <div class="drop" [class.drop_hidden]="!drop">
      {{ 'Drop file here' | i18n }}
    </div>
  </ng-template>
</label>
