<div class="background-border shadow-color-light box-shadow-lg">
  <div class="box-container">
    <h2 class="additional-detail-title">Source Code</h2>
    <div class="detail-container">
      <marketplace-additional-link
        [url]="pkg.upstreamRepo"
        label="Upstream Service"
        icon="@tui.external-link"
        class="item-pointer"
      />
      <marketplace-additional-link
        [url]="pkg.wrapperRepo"
        label="StartOS Package"
        icon="@tui.external-link"
        class="item-pointer"
      />
    </div>
  </div>
</div>

<div class="background-border shadow-color-light box-shadow-lg">
  <div class="box-container">
    <h2 class="additional-detail-title">Links</h2>
    <div class="detail-container">
      <marketplace-additional-link
        [url]="pkg.marketingSite"
        label="Marketing"
        icon="@tui.external-link"
        class="item-pointer"
      />
      <!-- @TODO matt use docsLink when available -->
      <marketplace-additional-link
        [url]="pkg.supportSite"
        label="Documentation"
        icon="@tui.external-link"
        class="item-pointer"
      />
      <marketplace-additional-link
        [url]="pkg.supportSite"
        label="Support"
        icon="@tui.external-link"
        class="item-pointer"
      />
      @if (pkg.donationUrl; as donationUrl) {
        <marketplace-additional-link
          [url]="donationUrl"
          label="Donations"
          icon="@tui.external-link"
          class="item-pointer"
        />
      }
    </div>
  </div>
</div>
