<div class="background-border box-shadow-lg shadow-color-light">
  <div class="box-container">
    <h2 class="additional-detail-title">About</h2>
    <div class="detail-container">
      <!-- version -->
      <marketplace-additional-item
        [style.pointer-events]="'none'"
        [data]="pkg.version"
        label="Version"
        icon=""
      />
      <!-- release date -->
      @if (pkg.s9pk?.publishedAt; as published) {
        <marketplace-additional-item
          [style.pointer-events]="'none'"
          [data]="(published | date: 'medium')!"
          label="Released"
          icon=""
        />
      }
      <!-- git hash -->
      @if (pkg.gitHash; as gitHash) {
        <marketplace-additional-item
          (click)="copyService.copy(gitHash)"
          [data]="gitHash"
          label="Git Hash"
          icon="@tui.copy"
          class="item-copy"
        />
      } @else {
        <div class="item-padding">
          <label tuiTitle>
            <span tuiSubtitle>Git Hash</span>
            Unknown
          </label>
        </div>
      }
      <!-- license -->
      <marketplace-additional-item
        (click)="static.emit('license')"
        [data]="pkg.license"
        label="License"
        icon="@tui.chevron-right"
        class="item-pointer"
      />
    </div>
    <p [innerHTML]="pkg.description.long"></p>
  </div>
</div>

<div class="background-border box-shadow-lg shadow-color-light">
  <div class="box-container">
    <h2 class="additional-detail-title">New in {{ pkg.version }}</h2>
    <p [innerHTML]="pkg.releaseNotes | markdown | dompurify"></p>
  </div>
</div>
